<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a class="soc-link" href="https://github.com/Harshit-Choubey-19"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a class="soc-link" href="https://www.linkedin.com/in/harshit-choubey/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">
      &copy; WanderLust Private Limited - Harshit Choubey
    </div>
    <div class="f-info-links">
      <a href="/privacy">Pivacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
